.app-header {}

.rightside-bar {
    width: 5%;
}

.leftnavbar .list-item {
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.leftnavbar .webix_tree_item {
    height: 30px !important;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.leftnavbar .webix_tree_item {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.leftnavbar .webix_tree_item:hover {
    background: #F3F7F7;
}

.leftnavbar .webix_tree_item.webix_selected .list-item {
    background: #F3F7F7;
    color: black !important;
}

.leftnavbar .compose-button .webix_img_btn {
    border-radius: 25px;
    z-index: 50px;
    box-shadow: 1px 1px 1px 1px #696969;
    padding-left: 10px;
    font-size: 20px !important;
}

.leftnavbar .compose-button .webix_el_box {
    height: 70px !important;
    width: 60% !important;
}

.leftnavbar .compose-button {
    height: 70px !important;
}

.custom-button {
    background: white !important;
    color: black !important;
}

.middlebody .webix_view.webix_control.webix_el_tabbar {
    height: 60px !important;
}

.middlebody .webix_all_tabs .webix_item_tab {
    padding-top: 20px;
    padding-bottom: 20px !important;
}

.webix_item_tab .mainbody-inbox-header, .mainbody-social-header, .mainbody-promotions-header, .mainbody-updates-header {
    color: #696969;
    text-align: left;
    padding-left: 8px;
}

.webix_item_tab .mainbody-header-icon {
    padding-left: 8px;
    padding-right: 15px;
}

.webix_item_tab.webix_hover .mainbody-inbox-header {
    color: black;
    background-color: #F2F2F2;
}

.webix_item_tab.webix_selected .mainbody-inbox-header {
    color: red;
}

.webix_item_tab.webix_selected:hover .mainbody-inbox-header {}

.webix_item_tab.webix_hover .mainbody-social-header {
    color: black;
    background-color: #F2F2F2;
}

.webix_item_tab.webix_selected .mainbody-social-header {
    color: #1F73E8;
}

.webix_item_tab.webix_selected:hover .mainbody-social-header {}

.webix_item_tab.webix_hover .mainbody-promotions-header {
    color: black;
    background-color: #F2F2F2;
}

.webix_item_tab.webix_selected .mainbody-promotions-header {
    color: #258D40;
}

.webix_item_tab.webix_selected:hover .mainbody-promotions-header {}

.webix_item_tab.webix_hover .mainbody-updates-header {
    color: black;
    background-color: #F2F2F2;
}

.webix_item_tab.webix_selected .mainbody-updates-header {
    color: #FA7A1A;
}

.webix_item_tab.webix_selected:hover .mainbody-updates-header {}

.orange-star {
    color: #FA7A1A !important;
}

.grey-star {
    color: #C0C0C0 !important;
}

.large-icon {
    font-size: 20px;
}

.body-row-background {
    background-color: #E2E8EA;
}

.body-row-hover {
    z-index: 50;
    color: black !important;
    background-color: white;
}

.bodyrow-time {
    text-align: right;
}

.custom-search .webix_el_box {}

.custom-search input {
    border: none;
    padding-right: 5%;
    background: #e2e8ea;
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 2px;
    font-size: 15px;
}

.custom-search input::placeholder {
    font-size: 20px;
}

.custom-search input:focus {
    background: white;
    border: none;
    box-shadow: 1px black;
    z-index: 50px;
}

.top-padding .webix_view {
    height: 80px !important;
}

.top-padding .webix_template {
    height: 80px !important;
    padding: 25px 0px 0px 0px;
}

.top-padding .webix_el_box {
    height: 80px !important;
}

.top-padding .webixtype_base {
    height: 55px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid lightgrey;
    background: transparent;
    color: black;
    font-weight: 600;
    font-size: 24px;
    text-align: left;
}

.header-left .webix_view {
    height: 80px !important;
}

.header-left .webix_el_box {
    height: 80px !important;
}

.header-left .webix_template {
    margin-top: 22px;
}

.header-left .webix_image {
    width: 80% !important;
    height: 100% !important;
}

.header-left button {
    text-align: left;
}

.header-left button:hover {
    background: transparent;
}

.right-navbar .webix_view {
    height: 70px !important;
}

.right-navbar .webix_template {
    align-items: center;
    border-bottom: none !important;
    padding-left: 15px !important;
    margin-top: 10px;
}

.middlebody .webix_column:hover {
    cursor: pointer !important;
}

.middlebody .webix_column .webix_cell.body-row-background {
    font-size: 18px;
    color: black;
    height: 60px !important;
    padding-top: 10px;
}

.body-filter .webix_view.webix_control.webix_el_checkbox {
    width: 40px !important;
}

.body-filter .webix_template .fa-redo {
    margin-top: 10px;
}

.body-filter .webix_view {
    border-width: 0px !important;
}

.contacts-list .webix_list_item {
    height: 50px !important;
    font-size: 20px;
}

.chats-list .webix_list_item {
    height: 50px !important;
    font-size: 20px;
}

.red-circle-margin {
    margin-top: 20px;
}

.inline-block-div {
    display: inline-block;
    padding-top: -20px;
}

.webix_list_item {
    padding: none !important;
}

.chat-window .webix_win_body .popup-header {
    padding-top: 10px;
    background: #A9A9A9;
}

.chat-window .webix_win_body .name, .cross-button, .arrow-button, .minimize-button {
    font-size: 18px;
    background: #A9A9A9;
    border: none !important;
    color: black;
}